<aside class="footer-widgets">
	<div class="inner-wide">
		<div class="widget-area">

			<div class="footer-col">
				{{!-- Includes the recent posts widget - partials/widget-posts.hbs --}}
				{{> "widget-posts"}}
			</div>

			<div class="footer-col">
				{{!-- Includes the tagcloud widget - partials/widget-tagcloud.hbs --}}
				{{> "widget-tagcloud"}}
			</div>

		</div><!-- .widget-area -->
	</div><!-- .inner-wide -->
</aside><!-- .footer-widgets -->
