{{!-- Widget to display a text --}}
<section class="widget widget-text">
	<h2 class="widget-title">{{t "About {sitetitle}" sitetitle=@site.title}}</h2>
	<p>{{t "Knowing God exists for a single purpose: to equip the saints for the work of ministry, for building up the body of Christ, until we all attain to the unity of the faith and of the knowledge of the Son of God (Eph. 4:12-13). This is accomplished through frequent posts of encouragement and edification, as well as structured classes where more rigorous study and communication happen."}}
	</p>
</section><!-- .widget -->