// Typography
$font-primary: Georgia,Times,Times New Roman,serif;
$font-secondary: 'Montserrat', sans-serif;

// Colors
$color-accent: #ffea00;
$gray-darkest: #111;
$gray-darker:  #252525;
$gray:         #666;
$gray-light:   #ccc;
$gray-lighter: #eee;
$yellow-pale:  #fffac4;
$red:          #ff1e00;
