{{!-- Widget to display a text --}}
<section class="widget widget-text">
	<h2 class="widget-title">{{t "Contact"}}</h2>
	<p>{{t "Have a question, idea or feedback for Curious? Please do not hesitate to get in touch:"}}</p>
	<ul class="contacts">
		<li>{{> "icons/envelope"}} example@email.com</li>
		<li>{{> "icons/phone"}} +123 456 789</li>
		<li>{{> "icons/map-marker"}} 123 Some Street, Some City, AA 12345</li>
	</ul>
</section><!-- .widget -->
