{{!-- Widget to display a text --}}
<section class="widget widget-text">
	<h2 class="widget-title">{{t "About {sitetitle}" sitetitle=@site.title}}</h2>
	<p>{{t "Curious is a well-structured, content-focused and easy to set up Ghost theme with a bold design. Perfect for an online magazine, journal or even a personal blog. Explore it yourself."}}</p>
</section><!-- .widget -->
